ul {
  list-style: none;
}

li {
  padding: 15px 30px;
  margin: 10px auto;
  border-radius: 6px;
  font-size: 1.5rem;
  background: #2a2e41;
  box-shadow: inset 5px 5px 5px #222534,
  inset -5px -5px 5px #32374e;
}

span {
  float: right;
  cursor: pointer;
  transition: color 300ms ease-in-out;
}

span:hover {
  color: #fff;
}
