form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input[type="text"] {
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 1.3rem;
  border-radius: 6px;
  border: 0;
  outline: 0;
  background: #2a2e41;
  box-shadow: inset 5px 5px 5px #222534,
  inset -5px -5px 5px #32374e;
}

input[type="text"]::placeholder {
  color: rgba(167, 183, 255, .4);
}

input[type="text"]:focus {
  outline: 0;
}

.btn {
  margin: 20px auto;
  padding: 15px 30px;
  border-radius: 10px;
  outline: none;
  border: 0;
  font-size: 1.3rem;
  cursor: pointer;
  background: #2a2e41;
  color: #ffdb55;
  background: linear-gradient(145deg, #2d3146, #26293b);
  box-shadow: 5px 5px 10px #11121a,
  -5px -5px 10px #434a68;
}

.btn:active {
  color: #ffc655;
  box-shadow: inset 5px 5px 10px #11121a,
  inset -5px -5px 10px #434a68;
}

h1 {
  margin: 40px 0 10px 0;
  color: #ffdb55;
}
