* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #a7b7ff;
}

[class*='Toastify'] * {
  color: #fff;
}

body {
  background: #2a2e41;
}

.container {
  width: 80%;
  margin: auto;
}
